<h1 id='bienvenida'>Bienvenido</h1>

<p id='cart-Id'>CartId: {{user}}</p>

<button id='logout-button'>Logout</button>
<button id='purchase-button' disabled>Finalizar Compra</button>
<hr>
<h2>Productos</h2>
<hr>

<div id='products'>
<div id='products-container'>
</div>
<div class='pagination'>
	<button id='prev-page-button'>Prev</button>
	<span id='page-number'></span>
	<button id='next-page-button'>Next</button>
</div>
</div>
<hr>